<div class="background">
  <div class="quiz-container" *ngIf="tasks.length > 0">

    <div class="question-counter">
      <div class="radio-input">
        <label *ngFor="let task of tasks; let i = index">
          <input 
            type="radio" 
            name="value-radio" 
            [value]="i" 
            [checked]="currentQuestionIndex === i"
            (change)="goToQuestion(i)" 
          />
          <span>{{ i + 1 }}</span>
        </label>
        <span class="selection"></span>
      </div>
    </div>
    

    <div class="task-text" *ngIf="currentTask; else loading">
      <p style="width: 70%; margin: auto;">{{ currentTask.taskText }}</p>
    </div>

    <ng-template #loading>
      <p>Učitavanje zadatka...</p>
    </ng-template>

    <div class="task-image" *ngIf="currentTask?.taskPicture">
      <img style="height: 200px;" [src]="taskImagesUrl + '/' + currentTask.class + '/' + currentTask.level + '/' + currentTask.taskPicture" alt="Task Image" />
    </div>

    <div class="answers">
      <h5>Ponuđeni odgovori</h5>
      <div class="form-div">
        <form>
          <ng-container *ngIf="currentTask.answersText.length > 0">
            <label *ngFor="let answer of currentTask.answersText; let i = index">
              <input 
                type="radio" 
                name="answers" 
                [value]="i" 
                (change)="selectAnswer(i)" 
                [checked]="selectedAnswerIndex === i" />
              {{ answer }}
            </label>
          </ng-container>
          <ng-container *ngIf="currentTask.answersPictures.length > 0">
            <label *ngFor="let answer of currentTask.answersPictures; let i = index">
              <input 
                type="radio" 
                name="answers" 
                [value]="i" 
                (change)="selectAnswer(i)" 
                [checked]="selectedAnswerIndex === i" />
              <img [src]="taskImagesUrl + '/' + currentTask.class + '/' + currentTask.level + '/' + answer" alt="Answer Image" />
            </label>
          </ng-container>
        </form>
      </div>
    </div>
    

    <div style="display: flex;">
      <div class="previous-button" *ngIf="currentQuestionIndex > 0">
        <button (click)="goToPreviousQuestion()" matTooltip="Prethodno pitanje" matTooltipPosition="above"><i class="bi bi-chevron-left"></i></button>
      </div>
      <div class="next-button" *ngIf="!isLastQuestion">
        <button (click)="goToNextQuestion()" matTooltip="Sledeće pitanje" matTooltipPosition="above"><i class="bi bi-chevron-right"></i></button>
      </div>
      <div class="done-button" *ngIf="isLastQuestion" matTooltip="Završi kviz" matTooltipPosition="above">
        <button (click)="endQuiz()"><img src="../../../assets/images/check.png" alt=""></button>
      </div>
    </div>
  </div>
</div>
