<div class="background">
    <div class="quiz-container">
  
      <!-- Task Text -->
      <div class="task-text" *ngIf="task">
        <p>{{ task.taskText }}</p>
        <p><strong>ULAZ:</strong></p>
        <pre>{{ task?.testCases?.[0]?.input }}</pre>

        <p><strong>IZLAZ:</strong></p>
        <pre>{{ task?.testCases?.[0]?.output }}</pre>
      </div>
  
      <!-- Task Image -->
      <!-- <div class="task-image" *ngIf="currentTask.taskPicture">
        <img style="height: 200px;" [src]="'assets/images/' + currentTask.taskPicture" alt="Task Image" />
      </div> -->
  
      <!-- Code -->
      
      
      <div class="row m-3 text-field">
        <div class="col text-field-2">
          <div class="d-flex justify-content-between mb-2">
            <div class="col-12 w-25">
              <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
              <select [(ngModel)]="language" class="form-select" id="inlineFormSelectPref" (change)="changeLanguage($event)">
                <option selected value="c">C</option>
                <option value="cpp">C++</option>
                <option value="python">Python</option>
              </select>
            </div>
            <div>
              <button class="btn run-button" (click)="runCode()">Pokreni&nbsp;<i class="bi bi-play-fill"></i></button>
            </div>
          </div>
          <div class="textarea">
            <textarea #editor type="text" class="form-control" aria-label="First name"></textarea>
          </div>
        </div>
        <div class="col d-flex flex-column rounded px-4">
          <div class="h-50">
            <label for="Input" class="mt-4 mb-2">Input</label>
            <textarea [(ngModel)]="input" type="text" class="form-control h-75"></textarea>
          </div>
          <div class="h-50">
            <label for="Output" class="mt-4 mb-2">Output</label>
            <textarea [(ngModel)]="result" type="text" class="form-control h-75"></textarea>
          </div>
        </div>
      </div>

    
      
  
      <!-- Done Button -->
      <div class="done-button">
        <button (click)="endQuiz()"><img src="../../../assets/images/check.png" alt=""></button>
      </div>
    </div>
</div>
  