<div class="background">
    <div class="quiz-container">
      <!-- Timer -->
      <div class="timer">
        {{ minutes }}:{{ seconds | number: '2.0' }}
      </div>
  
      <!-- Task Text -->
      <div class="task-text">
        <p>{{ currentTask.taskText }}</p>
      </div>
  
      <!-- Task Image -->
      <!-- <div class="task-image" *ngIf="currentTask.taskPicture">
        <img style="height: 200px;" [src]="'assets/images/' + currentTask.taskPicture" alt="Task Image" />
      </div> -->
  
      <!-- Code -->
      <div class="answers">
        
      </div>
      
  
      <!-- Done Button -->
      <div class="done-button">
        <button (click)="endQuiz()"><img src="../../../assets/images/check.png" alt=""></button>
      </div>
    </div>
  </div>
  