<div class="background">
    <div class="quiz-container">
  
      <!-- Task Text -->
      <div class="task-text">
        <p>{{ task.taskText }}</p>
      </div>
  
      <!-- Task Image -->
      <!-- <div class="task-image" *ngIf="currentTask.taskPicture">
        <img style="height: 200px;" [src]="'assets/images/' + currentTask.taskPicture" alt="Task Image" />
      </div> -->
  
      <!-- Code -->
      <div class="answers">
        
        <div>
          <textarea #editor style="width: 500px; height: 300px;"></textarea>
        </div>

      </div>
      
  
      <!-- Done Button -->
      <div class="done-button">
        <button (click)="endQuiz()"><img src="../../../assets/images/check.png" alt=""></button>
      </div>
    </div>
  </div>
  