<div class="dropdown-content">
    <div class="friends-list">
      <div>
          <div class="friend-status">
              <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
              <h5>Ime Prezime</h5>
              <div class="status-indicator online"></div>
          </div>
      </div>
      <div>
          <div class="friend-status">
              <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
              <h5>Ime Prezime</h5>
              <div class="status-indicator offline"></div>
          </div>
      </div>
    </div>
  </div>