<app-navbar></app-navbar>
<div class="main">
    <div class="buttons-tab">
      <button class="button-tab" (click)="changeTopic('tasks')">ZADACI</button>
      <button class="button-tab" (click)="changeTopic('users')">KORISNICI</button>
    </div>
  
  
    <div class="admin-popup" *ngIf="selectedTopic === 'tasks'">
      <!-- Izbor predmeta -->
      <div class="popup-subject-admin">
        <h5>Predmet</h5>
        <div class="subjects-admin">
          <label>
            <input
              type="radio"
              name="subject"
              value="math"
              [(ngModel)]="selectedSubjectAdmin"
              (change)="onSubjectChangeAdmin('math')"
            />
            <span>Matematika</span>
          </label>
          <label>
            <input
              type="radio"
              name="subject"
              value="info"
              [(ngModel)]="selectedSubjectAdmin"
              (change)="onSubjectChangeAdmin('info')"
            />
            <span>Informatika</span>
          </label>
        </div>
      </div>
  
      <!-- Forma za unos zadatka -->
      <form (submit)="submitTask()">
        <div class="form-group">
          <label>Tekst zadatka</label>
          <textarea class="form-control" (input)="renderMath()" [(ngModel)]="taskText" name="taskText" rows="3"></textarea>
        </div>

        <label>Pregled teksta zadatka</label>
        <div [innerHTML]="taskText"></div>

  
        <div class="form-group">
          <label>Slika zadatka (opcionalno)</label>
          <input type="file" class="form-control-file" (change)="onFileSelect($event)" />
        </div>
  
        <div class="form-group">
          <label>Razred</label>
          <select class="form-control" [(ngModel)]="taskClass" name="taskClass">
            <option *ngFor="let className of getAvailableClasses()" [value]="className">
              {{ className }}
            </option>
          </select>
        </div>      
        
  
        <!-- Polja specifična za matematiku -->
        <div *ngIf="selectedSubjectAdmin === 'math'">
          <div class="form-group">
            <label>Težina zadatka</label>
            <input type="number" class="form-control" [(ngModel)]="taskLevel" name="taskLevel" min="3" max="5" />
          </div>
  
          <div class="form-group">
            <label>Tip odgovora</label>
            <select class="form-control" [(ngModel)]="answerType" name="answerType">
              <option value="text">Tekstualni odgovori</option>
              <option value="image">Slikovni odgovori</option>
            </select>
          </div>
  
          <div *ngIf="answerType === 'text'">
            <label>Odgovori</label>
            <div *ngFor="let answer of answersText; let i = index; trackBy: trackByIndex">
              <input 
                type="text" 
                class="form-control" 
                [(ngModel)]="answersText[i]" 
                [name]="'answersText' + i" 
              />
              <input 
                type="radio" 
                name="correctAnswer" 
                [value]="i" 
                [(ngModel)]="correctAnswerIndex" 
                [checked]="correctAnswerIndex === i"
              />
            </div>
            <button type="button" class="btn btn-sm btn-primary" (click)="addTextAnswer()">+ Dodaj odgovor</button>
          </div>
          
  
          <div *ngIf="answerType === 'image'">
            <label>Odgovori (slike)</label>
            <div *ngFor="let answer of answersPictures; let i = index">
              <input type="file" class="form-control-file" multiple (change)="onFileSelected($event, i)" />
              <span style="margin-right: 10px;" *ngIf="answersPictures[i]">{{ answersPictures[i].name }}</span>
              <input type="radio" name="correctAnswer" [value]="i" [(ngModel)]="correctAnswerIndex" [checked]="correctAnswerIndex === null && i === 0" />
            </div>
            <button type="button" class="btn btn-sm btn-primary" (click)="addImageAnswer()">+ Dodaj odgovor</button>
          </div>
        </div>
  
        <!-- Polja specifična za informatiku -->
        <div *ngIf="selectedSubjectAdmin === 'info'">
          <label>Test primeri</label>
          <div *ngFor="let test of testCases; let i = index">
            <textarea type="text" class="form-control" placeholder="Ulaz" [(ngModel)]="testCases[i].input" name="testCases[i].input" style="margin-bottom: 10px;" ></textarea>
            <textarea type="text" class="form-control" placeholder="Očekivani izlaz" [(ngModel)]="testCases[i].output" name="testCases[i].output" ></textarea>
          </div>
          <button type="button" class="btn btn-sm btn-primary" (click)="addTestCase()">+ Dodaj test primer</button>
        </div>
  
        <button type="submit" class="btn btn-success">Sačuvaj zadatak</button>
      </form>
    </div>
  
    <div class="admin-popup" *ngIf="selectedTopic === 'users'">
        <div class="filters">
            <div class="filter-group">
              <label for="nameFilter">Ime</label>
              <input type="text" id="nameFilter" [(ngModel)]="nameFilter" placeholder="Pretraži po imenu" class="form-control" />
            </div>
        
            <div class="filter-group">
              <label for="surnameFilter">Prezime</label>
              <input type="text" id="surnameFilter" [(ngModel)]="surnameFilter" placeholder="Pretraži po prezimenu" class="form-control" />
            </div>

            <div class="filter-group">
              <label for="schoolFilter">Mesto</label>
              <input type="text" id="cityFilter" [(ngModel)]="cityFilter" placeholder="Pretraži po mestu" class="form-control" />
            </div>
        
            <div class="filter-group">
              <label for="schoolFilter">Škola</label>
              <input type="text" id="schoolFilter" [(ngModel)]="schoolFilter" placeholder="Pretraži po školi" class="form-control" />
            </div>

            <div class="filter-group">
              <label for="classFilter">Razred (1–12)</label>
              <input type="number" id="classFilter" [(ngModel)]="classFilter" min="1" max="12" placeholder="Razred" class="form-control" />
            </div>
            
            <div class="filter-group">
              <label for="mathGradeFilter">Ocena iz matematike (1–5)</label>
              <input type="number" id="mathGradeFilter" [(ngModel)]="mathGradeFilter" min="1" max="5" placeholder="Matematika" class="form-control" />
            </div>
            
            <div class="filter-group">
              <label for="infoGradeFilter">Ocena iz informatike (1–5)</label>
              <input type="number" id="infoGradeFilter" [(ngModel)]="infoGradeFilter" min="1" max="5" placeholder="Informatika" class="form-control" />
            </div>
            
        
            <div class="filter-group">
              <label for="winsFilter">Broj pobeda (više ili jednako od)</label>
              <input type="number" id="winsFilter" [(ngModel)]="winsFilter" placeholder="Više od" class="form-control" />
            </div>
        
            <div class="filter-group">
              <label for="lossesFilter">Broj poraza (više ili jednako od)</label>
              <input type="number" id="lossesFilter" [(ngModel)]="lossesFilter" placeholder="Više od" class="form-control" />
            </div>

            <div class="filter-group">
              <label>Tip korisnika</label>
              <div>
                <label style="padding-right: 20px;">
                  <input type="radio" name="userType" [(ngModel)]="userType" value="student" checked style="width: fit-content;"/>
                  Učenici
                </label>
              </div>
              <div>
                <label style="padding-right: 20px;">
                  <input type="radio" name="userType" [(ngModel)]="userType" value="admin" style="width: fit-content;" />
                  Admin korisnici
                </label>
              </div>
            </div>

            <button class="button-tab" style="height: fit-content; align-self: anchor-center;" (click)="search()">Pretraži</button>
        </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Korisničko ime</th>
            <th scope="col">Email</th>
            <th scope="col" *ngIf="setUserType === 'student'">Mesto</th>
            <th scope="col" *ngIf="setUserType === 'student'">Škola</th>
            <th scope="col" *ngIf="setUserType === 'student'">Razred</th>
            <th scope="col" *ngIf="setUserType === 'student'">Ocena M</th>
            <th scope="col" *ngIf="setUserType === 'student'">Ocena I</th>
            <th scope="col" *ngIf="setUserType === 'student'">
              Pobede
              <button class="sort" (click)="sortBy('wins')">▲</button>
              <button class="sort" (click)="sortBy('wins', true)">▼</button>
            </th>
            <th scope="col" *ngIf="setUserType === 'student'">Porazi</th>
            <th scope="col" *ngIf="setUserType === 'student'">
              Ukupno mečeva
              <button class="sort" (click)="sortBy('matches')">▲</button>
              <button class="sort" (click)="sortBy('matches', true)">▼</button>
            </th>
            <th scope="col" *ngIf="setUserType === 'student'"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userListAdmin">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.nickname }}</td>
            <td>{{ user.email }}</td>
            <td *ngIf="setUserType === 'student'">{{ user.city }}</td>
            <td *ngIf="setUserType === 'student'">{{ user.school }}</td>
            <td *ngIf="setUserType === 'student'">{{ user.class }}</td>
            <td *ngIf="setUserType === 'student'">{{ user.math_grade }}</td>
            <td *ngIf="setUserType === 'student'">{{ user.info_grade }}</td>
            <td *ngIf="setUserType === 'student'">{{ user.wins }}</td>
            <td *ngIf="setUserType === 'student'">{{ user.losses }}</td>
            <td *ngIf="setUserType === 'student'">{{ user.losses + user.wins }}</td>
            <td *ngIf="setUserType === 'student'">
              <button 
                (click)="makeAdmin(user)"
                matTooltip="Promeni u admina"
                matTooltipPosition="above"
                style=" width: fit-content; height: fit-content; margin-right: 5px; border-radius: 50%; border: none; background-color: #134275; color: white; cursor: pointer; padding: 7px;">
                <img src="assets/images/add-friend.png" alt="" style="width: 25px; height: 25px;" />
              </button>
              <button
                (click)="deleteUser(user)"
                matTooltip="Obriši korisnika"
                matTooltipPosition="above"
                style="width: fit-content; height: fit-content; margin-right: 5px; border-radius: 50%; border: none; background-color: #ad1026; color: white; cursor: pointer; padding: 7px;">
                <img src="assets/images/cross.png" alt="" style="width: 25px; height: 25px;" />
              </button></td>
          </tr>
        </tbody>
      </table>

      <button class="button-tab" (click)="exportToCSV()">Exportuj u CSV</button>
    </div>
  
  
  
  </div>

<app-popup-yes-no
  *ngIf="showPopup"
  [message]="popupMessage"
  (close)="onPopupClose()"
  (confirm)="onPopupConfirm()">
</app-popup-yes-no>