<div class="main">
    <div class="buttons-tab">
      <button class="button-tab" (click)="changeTopic('tasks')">ZADACI</button>
      <button class="button-tab" (click)="changeTopic('users')">KORISNICI</button>
    </div>
  
  
    <div class="admin-popup" *ngIf="selectedTopic === 'tasks'">
      <!-- Izbor predmeta -->
      <div class="popup-subject-admin">
        <h5>Predmet</h5>
        <div class="subjects-admin">
          <label>
            <input
              type="radio"
              name="subject"
              value="math"
              [(ngModel)]="selectedSubjectAdmin"
              (change)="onSubjectChangeAdmin('math')"
            />
            <span>Matematika</span>
          </label>
          <label>
            <input
              type="radio"
              name="subject"
              value="info"
              [(ngModel)]="selectedSubjectAdmin"
              (change)="onSubjectChangeAdmin('info')"
            />
            <span>Informatika</span>
          </label>
        </div>
      </div>
  
      <!-- Forma za unos zadatka -->
      <form (submit)="submitTask()">
        <div class="form-group">
          <label>Tekst zadatka</label>
          <textarea class="form-control" [(ngModel)]="taskText" name="taskText" rows="3"></textarea>
        </div>
  
        <div class="form-group">
          <label>Slika zadatka (opcionalno)</label>
          <input type="file" class="form-control-file" (change)="onFileSelect($event)" />
        </div>
  
        <div class="form-group">
          <label>Razred</label>
          <select class="form-control" [(ngModel)]="taskClass" name="taskClass">
            <option *ngFor="let className of getAvailableClasses()" [value]="className">
              {{ className }}
            </option>
          </select>
        </div>      
        
  
        <!-- Polja specifična za matematiku -->
        <div *ngIf="selectedSubjectAdmin === 'math'">
          <div class="form-group">
            <label>Težina zadatka</label>
            <input type="number" class="form-control" [(ngModel)]="taskLevel" name="taskLevel" min="3" max="5" />
          </div>
  
          <div class="form-group">
            <label>Tip odgovora</label>
            <select class="form-control" [(ngModel)]="answerType" name="answerType">
              <option value="text">Tekstualni odgovori</option>
              <option value="image">Slikovni odgovori</option>
            </select>
          </div>
  
          <div *ngIf="answerType === 'text'">
            <label>Odgovori</label>
            <div *ngFor="let answer of answersText; let i = index">
              <input type="text" class="form-control" [(ngModel)]="answersText[i]" name="answersText[i]" />
              <input type="radio" name="correctAnswer" [value]="i" [(ngModel)]="correctAnswerIndex" [checked]="correctAnswerIndex === null && i === 0" />
            </div>
            <button type="button" class="btn btn-sm btn-primary" (click)="addTextAnswer()">+ Dodaj odgovor</button>
          </div>
  
          <div *ngIf="answerType === 'image'">
            <label>Odgovori (slike)</label>
            <div *ngFor="let answer of answersPictures; let i = index">
              <input type="file" class="form-control-file" multiple (change)="onFileSelected($event, i)" />
              <span style="margin-right: 10px;" *ngIf="answersPictures[i]">{{ answersPictures[i].name }}</span>
              <input type="radio" name="correctAnswer" [value]="i" [(ngModel)]="correctAnswerIndex" [checked]="correctAnswerIndex === null && i === 0" />
            </div>
            <button type="button" class="btn btn-sm btn-primary" (click)="addImageAnswer()">+ Dodaj odgovor</button>
          </div>
        </div>
  
        <!-- Polja specifična za informatiku -->
        <div *ngIf="selectedSubjectAdmin === 'info'">
          <label>Test primeri</label>
          <div *ngFor="let test of testCases; let i = index">
            <textarea type="text" class="form-control" placeholder="Ulaz" [(ngModel)]="testCases[i].input" name="testCases[i].input" style="margin-bottom: 10px;" ></textarea>
            <textarea type="text" class="form-control" placeholder="Očekivani izlaz" [(ngModel)]="testCases[i].output" name="testCases[i].output" ></textarea>
          </div>
          <button type="button" class="btn btn-sm btn-primary" (click)="addTestCase()">+ Dodaj test primer</button>
        </div>
  
        <button type="submit" class="btn btn-success">Sačuvaj zadatak</button>
      </form>
    </div>
  
    <div class="admin-popup" *ngIf="selectedTopic === 'users'">
        <div class="filters">
            <div class="filter-group">
              <label for="nameFilter">Ime</label>
              <input type="text" id="nameFilter" [(ngModel)]="nameFilter" placeholder="Pretraži po imenu" class="form-control" />
            </div>
        
            <div class="filter-group">
              <label for="surnameFilter">Prezime</label>
              <input type="text" id="surnameFilter" [(ngModel)]="surnameFilter" placeholder="Pretraži po prezimenu" class="form-control" />
            </div>
        
            <div class="filter-group">
              <label for="schoolFilter">Škola</label>
              <input type="text" id="schoolFilter" [(ngModel)]="schoolFilter" placeholder="Pretraži po školi" class="form-control" />
            </div>
        
            <div class="filter-group">
              <label for="winsFilter">Broj pobeda (više ili jednako od)</label>
              <input type="number" id="winsFilter" [(ngModel)]="winsFilter" placeholder="Više od" class="form-control" />
            </div>
        
            <div class="filter-group">
              <label for="lossesFilter">Broj poraza (više ili jednako od)</label>
              <input type="number" id="lossesFilter" [(ngModel)]="lossesFilter" placeholder="Više od" class="form-control" />
            </div>
            <button class="button-tab" style="height: fit-content; align-self: anchor-center;" (click)="search()">Pretraži</button>
        </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Email adresa</th>
            <th scope="col">Škola</th>
            <th scope="col">Broj pobeda</th>
            <th scope="col">Broj Poraza</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userListAdmin">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.school }}</td>
            <td>{{ user.wins }}</td>
            <td>{{ user.losses }}</td>
          </tr>
        </tbody>
      </table>

      <button class="button-tab" (click)="exportUsers()">Exportuj u CSV</button>
    </div>
  
  
  
  </div>