<app-navbar></app-navbar>
<div class="background">
    <div class="card">
        <button (click)="logout()" class="logout">Odjavi se &nbsp;<i class="bi bi-box-arrow-right"></i></button>
        <div class="profile-picture">
            <img src="../../../assets/images/profile.png" alt="">
        </div>
        <div class="edit-button" style="margin-bottom: 50px;">
            <button class="edit">Promeni sliku</button>
        </div>
        <div class="nickname">
            <div class="brutalist-container">
                <input
                  class="brutalist-input smooth-type"
                  type="text"/>
                <label class="brutalist-label">NADIMAK</label>
            </div>
        </div>
        <button class="save">Sačuvaj izmene</button>
    </div>
</div>