<div class="login-container">
  <div class="login-form">
    <img id="logo" src="../../../assets/images/logoFinal.png" alt="K" />
    <form [formGroup]="resetForm" (ngSubmit)="sendResetEmail()">
      <!-- Email input sa validacijom -->
      <div class="form-group">
        <input
          type="email"
          formControlName="email" id="email"
          placeholder="Unesi email"
          [ngClass]="{ 'error-input': (resetForm.get('email')?.invalid && (resetForm.get('email')?.touched)) }"
        />
        <span matTooltip="Ovo polje je obavezno. Email mora biti u ispravnom formatu." class="info-icon">
          <i class="fa fa-info-circle"></i>
        </span>
      </div>

      <div *ngIf="message" class="form-group" style="color: rgb(177, 16, 16);">
        <small>{{ message }}</small>
      </div>
      <button type="submit">Pošalji email</button>

      <span class="link">Nemate nalog? <span id="link" (click)="navigateToRegister()">Registrujte se</span></span>
    </form>
  </div>
</div>
