<div class="login-container">
  <div class="login-form">
    <img id="logo" src="assets/images/LOGO-IMI-math-code-duel.png" alt="K" />

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <!-- Email input -->
      <div class="form-group" *ngIf="step === 1">
        <input
          type="email"
          formControlName="email"
          placeholder="Unesi email"
          [ngClass]="{ 'error-input': resetForm.get('email')?.invalid && resetForm.get('email')?.touched }"
        />
        <span matTooltip="Ovo polje je obavezno. Email mora biti u ispravnom formatu." class="info-icon">
          <i class="fa fa-info-circle"></i>
        </span>
      </div>

      <!-- Verifikacioni kod -->
      <div class="form-group" *ngIf="step === 2">
        <input
          type="text"
          formControlName="code"
          placeholder="Unesi verifikacioni kod"
          [ngClass]="{
            'error-input': resetForm.get('code')?.touched && resetForm.get('code')?.invalid
          }"
        />
        <span matTooltip="Kod koji ste dobili na e-mail." class="info-icon">
          <i class="fa fa-info-circle"></i>
        </span>
      </div>

      <!-- Nova šifra -->
      <div class="form-group" *ngIf="step === 3">
        <input
          [type]="passwordFieldType"
          formControlName="password"
          placeholder="Unesi novu šifru"
          [ngClass]="{
            'error-input': resetForm.get('password')?.touched && resetForm.get('password')?.invalid
          }"
        />
        <span class="toggle-password" (click)="togglePasswordVisibility()">
          <i [class]="passwordFieldType === 'password' ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </span>
        <span matTooltip="Ovo polje je obavezno. Šifra mora imati minimum 8 karaktera." class="info-icon">
          <i class="fa fa-info-circle"></i>
        </span>
      </div>

      <!-- Potvrda šifre -->
      <div class="form-group" *ngIf="step === 3">
        <input
          [type]="passwordFieldType2"
          formControlName="confirmPassword"
          placeholder="Potvrdi novu šifru"
          [ngClass]="{
            'error-input': resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.invalid
          }"
        />
        <span class="toggle-password" (click)="togglePasswordVisibility2()">
          <i [class]="passwordFieldType2 === 'password' ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </span>
        <span matTooltip="Ovo polje je obavezno. Šifra mora imati minimum 8 karaktera." class="info-icon">
          <i class="fa fa-info-circle"></i>
        </span>
      </div>


      <!-- Poruka greške -->
      <div *ngIf="message" class="form-group" style="color: rgb(177, 16, 16);">
        <small>{{ message }}</small>
      </div>

      <!-- Success poruka -->
      <div *ngIf="success" class="form-group" style="color: green;">
        <small>{{ success }}</small>
      </div>

      <button type="submit">{{ getButtonText() }}</button>

      <span class="link">Nemate nalog? <span id="link" (click)="navigateToRegister()">Registrujte se</span></span>
    </form>
  </div>
</div>
