<div class="login-container">
    <div class="login-form">
      <img id="logo" src="../../../assets/images/logoFinal.png" alt="K" />
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <!-- Password input sa vidljivošću toggle-a i validacijom -->
        <div class="form-group">
          <input
            [type]="passwordFieldType"
            type="password"
            formControlName="password"
            placeholder="Unesi šifru"
            [ngClass]="{ 'error-input': resetForm.get('password')?.invalid && (resetForm.get('password')?.touched || submitted) }"
          />
          <span class="toggle-password" (click)="togglePasswordVisibility()">
            <i [class]="passwordFieldType === 'password' ? 'fa fa-eye-slash' : 'fa fa-eye'" style="min-height: 10px; min-width: 10px;"></i>
          </span>
          <span matTooltip="Ovo polje je obavezno. Šifra mora imati minimum 8 karaktera." class="info-icon">
            <i class="fa fa-info-circle"></i>
          </span>
        </div>

        <div class="form-group">
            <input
              [type]="passwordFieldType2"
              type="password"
              formControlName="confirmPassword"
              placeholder="Potvrdi šifru"
              [ngClass]="{ 'error-input': resetForm.get('confirmPassword')?.invalid && (resetForm.get('confirmPassword')?.touched || submitted) }"
            />
            <span class="toggle-password" (click)="togglePasswordVisibility2()">
              <i [class]="passwordFieldType2 === 'password' ? 'fa fa-eye-slash' : 'fa fa-eye'" style="min-height: 10px; min-width: 10px;"></i>
            </span>
            <span matTooltip="Ovo polje je obavezno. Šifra mora imati minimum 8 karaktera." class="info-icon">
              <i class="fa fa-info-circle"></i>
            </span>
          </div>
  
        <div *ngIf="message" class="form-group" style="color: rgb(177, 16, 16);">
          <small>{{ message }}</small>
        </div>
        <div *ngIf="success" class="form-group" style="color: rgb(177, 16, 16);">
            <span class="link">Nemate nalog? <span id="link" (click)="navigateToLogin()">Prijavite se</span></span>
          </div>
        <button type="submit">Potvrdi</button>
      </form>
    </div>
  </div>
  