<app-navbar></app-navbar>
<div class="body">
<div class="container">
  <div class="card">
    <div class="bg"></div>
    <div class="blob"></div>
    <div class="main-field">
      <div class="opponents">
        <div class="dropdown">
          <button id="dropbtn" class="dropbtn">IZABERI PROTIVNIKA</button>
          <div class="dropdown-content">
            <div class="friends-list">
              <div>
                  <div class="friend-status">
                      <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                      <h5>Ime Prezime</h5>
                      <div class="status-indicator online"></div>
                  </div>
              </div>
              <div>
                  <div class="friend-status">
                      <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                      <h5>Ime Prezime</h5>
                      <div class="status-indicator offline"></div>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>
      <div class="categories">
        <h1>hey</h1>
      </div>
      <div class="level">
        <h1>hey</h1>
      </div>
    </div>
  </div>
</div>
</div>
