
button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

button:after {
  width: 0%;
  height: 100%;
  background: #AD1026;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 2% 8%;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: #ffffff;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


app-navbar {
  flex-shrink: 0;
}

.friends-list {
  width: 200px;
  background-color: #ffffff;
  border-radius: 15px;
  //box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), -20px -20px 60px rgba(255, 255, 255, 0.7);
}

.friend-status-img img {
  height: 50px;
  width: 50px;
}

.opponent-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opponent-img img {
  height: 100px;
  width: 100px;
}

.friend-status h5 {
  margin: 0;
  padding-left: 1%;
}

.friend-status {
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 5%;
}

.friend-status:hover {
  cursor: pointer;
}

.friend-status button {
  margin-left: auto;
  padding: 10px 10px;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #134275;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.friend-status button:hover {
  background-color: #aa1818;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  margin-left: 5px; 
  margin-left: auto;
}

.status-indicator.online {
  background-color: green; 
}

.status-indicator.offline {
  background-color: red; 
}

.main-field {
  z-index: 3;
  display: flex;
  flex-direction: row; 
  gap: 2vw; 
  align-items: center; 
}

.main-field button {
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: #134275;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80%;
}

.main-field button:hover {
  background-color: #aa1818;
}

#dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 200px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  padding-top: 13%;
  flex-grow: 1; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.card {
  position: relative;
  width: 50vw; 
  height: 50vh; 
  border-radius: 2vw;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), -20px -20px 60px rgba(255, 255, 255, 0.7);
}

.bg {
  position: absolute;
  top: 1.7%;
  left: 1%;
  width: 98%;
  height: 96%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.975);
  backdrop-filter: blur(24px);
  border-radius: 1.5vw;
  overflow: hidden;
  outline: 2px solid white;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #bcb7ff;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 10s infinite ease;
  //transform: translate(-50%, -50%);
}

@keyframes blob-bounce {
  0% {
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-50%, -50%) translate3d(210%, 0, 0);
  }
  50% {
    transform: translate(-50%, -50%) translate3d(210%, 150%, 0);
  }
  75% {
    transform: translate(-50%, -50%) translate3d(0, 150%, 0);
  }
  100% {
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
  }
}

@media (max-width: 768px) {

  .container {
    padding-top: 20%;
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  .main-field button {
    padding: 10px 10px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #134275;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%;
  }
  
  .card {
    position: relative;
    width: 70vw; 
    height: 50vh;
    border-radius: 2vw;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), -20px -20px 60px rgba(255, 255, 255, 0.7);
  }
    
  .blob {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 60vw;
    height: 40vw;
    border-radius: 50%;
    background-color: #bcb7ff;
    opacity: 1;
    filter: blur(12px);
    //animation: blob-bounce-small 10s infinite ease;
    animation: myAnim 10s ease 0s infinite normal forwards;
  }  

  @keyframes myAnim {
	0% {
		opacity: 1;
		transform: rotateX(0);
		transform-origin: bottom;
	}

	100% {
		opacity: 0;
		transform: rotateX(100deg);
		transform-origin: bottom;
	}
}

  .bg {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 95%;
    height: 96%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.975);
    backdrop-filter: blur(24px);
    border-radius: 1.5vw;
    overflow: hidden;
    outline: 2px solid white;
  }

  @keyframes blob-bounce-small {
    0% {
      transform: translate(-50%, -50%) translate3d(0, 0, 0);
    }
    25% {
      transform: translate(-50%, -50%) translate3d(100%, 0, 0);
    }
    50% {
      transform: translate(-50%, -50%) translate3d(100%, 200%, 0);
    }
    75% {
      transform: translate(-50%, -50%) translate3d(0, 200%, 0);
    }
    100% {
      transform: translate(-50%, -50%) translate3d(0, 0, 0);
    }
  }
}

.body {
  width: 100%;
  height: 100%;
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}