<app-navbar></app-navbar>
<div class="body">
<div class="container">
  <div class="card">
    <div class="bg"></div>
    <div class="blob"></div>
    <div class="main-field">
      <div class="opponents">
        <div class="opponent-img"><img src="../../../assets/images/profile.png" alt=""></div>
        <h5 class="opponent-img">nadimak123</h5>
        <div class="dropdown">
          <button id="dropbtn" class="dropbtn">IZABERI PROTIVNIKA</button>
        </div>
      </div>
      <div class="categories">
        <h1>hey</h1>
      </div>
      <div class="level">
        <h1>hey</h1>
      </div>
    </div>
  </div>
</div>
</div>
