body {
  font-family: "Klavika", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
  linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

html {
  min-height: 100vh;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: white !important;
  --mdc-snackbar-supporting-text-color: black !important;
  --mat-mdc-snack-bar-button-color: black !important;
  border: 1px solid #ddd !important;
}

.mat-mdc-snack-bar-container .mat-button {
  color: #303f9f !important; /* Plava boja za dugme */
}

.mat-mdc-snack-bar-container .mat-mdc-button {
  background-color: #303f9f6e !important; /* Dodaj pozadinsku boju za dugme */
  color: #303f9f !important; /* Tekst u beloj boji */
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
