<div class="navbar">
    <div>
        <ul class="navbar-nav bd-navbar-nav flex-row" *ngIf="!isAdmin()">
            <div [routerLink]="'/lobby'" style="cursor: pointer;"><li><img src="assets/images/LOGO-IMI-math-code-duel.png" alt=""></li></div>
            <!-- <li class="nav-item"></li> -->
        </ul>
        <ul class="navbar-nav bd-navbar-nav flex-row" *ngIf="isAdmin()">
            <div [routerLink]="'/admin-lobby'" style="cursor: pointer;"><li><img src="assets/images/LOGO-IMI-math-code-duel.png" alt=""></li></div>
            <!-- <li class="nav-item"></li> -->
        </ul>
    </div>
    <div>
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li [routerLink]="'/profile'" id="profile" class="nav-item-icon" style="display: flex; align-items: center;"><i class="bi bi-person-circle h1" style = "color: #0C3C5C; margin: 0;"></i></li>
            <!-- <img src="{{ baseUrl }}/{{ profileImage }}" alt="" style="height: 55px; width: 55px;"> -->
        </ul>
    </div>
</div>

  <!-- <div id="anim1"></div> -->
  