<div class="navbar">
    <div>
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <div [routerLink]="'/home'" style="cursor: pointer;"><li><img src="../../../assets/images/logoFinal.png" alt=""></li></div>
            <li class="nav-item">App</li>
            <li class="nav-item">LALALALAL</li>
        </ul>
    </div>
    <div>
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li id="profile" class="nav-item-icon" style="display: flex; align-items: center;"><img src="../../../assets/images/profile.png" alt="" style="height: 55px; width: 55px;"></li>
        </ul>
    </div>
</div>

  <!-- <div id="anim1"></div> -->
  