.login-container {
  position: relative;
  min-height: 100vh; // Visina da pokriva celu stranicu
  display: flex;
  justify-content: center; // Centriranje horizontalno
  align-items: center; // Centriranje vertikalno
  background-image: url("../../../assets/images/bg.png");
}

.login-form {
  background-color: white;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Blaga senka
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center; // Centriranje elemenata unutar forme
}

.login-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px; // Razmak između naslova i forme
}

form {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .form-group {
//   display: flex;
//   align-items: center; // Naslovi pored input polja
//   margin-bottom: 15px;
//   width: 70%; // Širina cele grupe
//   justify-content: right; // Raspoređuje labele i inpute ravnomerno
// }

.form-group {
  position: relative; /* Potrebno da ikonica bude apsolutno pozicionirana u okviru grupe */
  display: flex;
  align-items: center; /* Vertikalno poravnanje */
  margin-bottom: 15px;
  width: 70%; /* Širina cele grupe */
}

.popup {
  width: 90%;
}

label {
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  width: 10%; // Širina labela
  margin-right: 10px;
}

input {
  width: 90%; // Preostala širina za input
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 70%; // Širina dugmeta
  padding: 10px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1%;
  text-align: center;
  align-self: center; 
}

button:hover {
  background-color: #303f9f;
}

#logo {
  height: 20%;
  width: 20%;
}

.link {
  padding-top: 5%;
  padding-bottom: 5%;
}

#link {
  color: #303f9f;
  cursor: pointer;
}

#link:hover {
  text-decoration: underline;
}

.toggle-password {
  position: absolute; 
  right: 5%;
  cursor: pointer;
  color: #888; 
  font-size: 18px; 
  min-width: 10px;
  min-height: 10px;
}

.toggle-password:hover {
  color: #303f9f; 
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.error-input {
  border: 1px solid rgb(177, 16, 16); /* Crvena boja za okvir */
  background-color: #ffe6e6; /* Svetlo crvena pozadina */
}

.error-input:focus {
  outline: none; /* Uklanja plavi okvir na fokusu */
  box-shadow: 0 0 5px rgb(177, 16, 16); /* Crvena senka */
}
