<div class="login-container">
  <div class="login-form">
    <img id="logo" src="../../../assets/images/logoFinal.png" alt="K" />
    <form>
      <div class="form-group">
        <input type="email" id="email" placeholder="Unesite email" />
      </div>
      <div class="form-group">
        <input type="password" id="password" placeholder="Unesite šifru" />
      </div>
      <div class="popup"></div>
      <button type="submit">Prijavi se</button>
      <span class="link">Nemate nalog? <span id="link" (click)="navigateToRegister()">Registrujte se</span></span>
    </form>
  </div>
</div>
