<app-navbar></app-navbar>

<div class="popup-overlay" *ngIf="isPopupOpen" (click)="closePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <div id="close-popup" (click)="closePopup()"><img src="../../../assets/images/close-popup.png" alt=""></div>
        <div class="popup-request">
            <div class="popup-opponent">
                <div class="card-header"><h5>Protivnik</h5></div>
                <div class="profile-picture">
                    <img src="../../../assets/images/profile.png" alt="">
                    <h5>nickname</h5>
                    <span>emailaddress</span>
                </div>
            </div>
            <div class="popup-subject">
                <div class="card-header"><h5>Predmet</h5></div>
                <div class="subjects">
                    <div class="subject">
                        <label for="radio-maths">
                            <input type="radio" id="radio-maths" name="radio" checked>
                            <span>Matematika</span><br>
                            <span><img style="margin-top: 15px;" src="../../../assets/images/maths.png" alt=""></span>
                        </label>
                    </div>
                    <div class="subject">
                        <label for="radio-info">
                            <input type="radio" id="radio-info" name="radio">
                            <span>Informatika</span><br>
                            <span><img style="margin-top: 15px;" src="../../../assets/images/programming.png" alt=""></span>
                        </label>
                    </div>
                </div>                
            </div>
            <div class="popup-class">
                <div class="card-header"><h5>Razred</h5></div>
                <div class="class-select">
                    <select name="classes" id="classes">
                        <option value="1">1. i 2.</option>
                        <option value="3">3.</option>
                        <option value="4">4.</option>
                        <option value="5">5. i 6.</option>
                  </select>
                </div>
            </div>
        </div>
        <div><button id="popup-send-button">Pošalji zahtev</button></div>
    </div>
</div>

<div class="main-container">
    <div class="flex-container-row">
        <div class="friends-list">
            <div id="p-div"><p>Odaberi protivnika</p></div>
            <div id="scrollable-div">
                <div>
                    <div class="friend-status online" (click)="openPopup()">
                        <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                        <h5>Ime Prezime</h5>
                        <div class="status-indicator online"></div>
                    </div>
                </div>
                <div>
                    <div class="friend-status online">
                        <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                        <h5>Ime Prezime</h5>
                        <div class="status-indicator online"></div>
                    </div>
                </div>
                <div>
                    <div class="friend-status online">
                        <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                        <h5>Ime Prezime</h5>
                        <div class="status-indicator online"></div>
                    </div>
                </div>
                <div>
                    <div class="friend-status  offline">
                        <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                        <h5>Ime Prezime</h5>
                        <div class="status-indicator offline"></div>
                    </div>
                </div>
                <div>
                    <div class="friend-status  offline">
                        <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                        <h5>Ime Prezime</h5>
                        <div class="status-indicator offline"></div>
                    </div>
                </div>
                <div>
                    <div class="friend-status  offline">
                        <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                        <h5>Ime Prezime</h5>
                        <div class="status-indicator offline"></div>
                    </div>
                </div>
                <div>
                    <div class="friend-status  offline">
                        <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                        <h5>Ime Prezime</h5>
                        <div class="status-indicator offline"></div>
                    </div>
                </div>
                <div>
                    <div class="friend-status  offline">
                        <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                        <h5>Ime Prezime</h5>
                        <div class="status-indicator offline"></div>
                    </div>
                </div>
                <div>
                    <div class="friend-status  offline">
                        <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                        <h5>Ime Prezime</h5>
                        <div class="status-indicator offline"></div>
                    </div>
                </div>
                <div>
                    <div class="friend-status  offline">
                        <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                        <h5>Ime Prezime</h5>
                        <div class="status-indicator offline"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-and-requests">
            <div class="search-area" >
                <p>Pretraži korisnike</p>
                <div class="search">
                    <div class="search-bar">
                        <div class="input-group">
                            <input class="input" placeholder="Pretraži prema korisničkom imenu" autocomplete="off">
                            <button class="button--submit"><img src="../../../assets/images/magnifying-glass.png" alt=""></button>
                        </div>
                    </div>
                    <div class="search-results">
                        <div class="friends-list" id="list1" style="padding: 0;">
                            <div>
                                <div class="friend-status">
                                    <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                                    <h5>Ime Prezime</h5>
                                    <button style="margin-right: 5px;"><img src="../../../assets/images/add-friend.png" alt=""></button>
                                </div>
                            </div>
                            <div>
                                <div class="friend-status">
                                    <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                                    <h5>Ime Prezime</h5>
                                    <button style="margin-right: 5px;"><img src="../../../assets/images/add-friend.png" alt=""></button>
                                </div>
                            </div>
                            <div>
                                <div class="friend-status">
                                    <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                                    <h5>Ime Prezime</h5>
                                    <button style="margin-right: 5px;"><img src="../../../assets/images/add-friend.png" alt=""></button>
                                </div>
                            </div>
                            <div>
                                <div class="friend-status">
                                    <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                                    <h5>Ime Prezime</h5>
                                    <button style="margin-right: 5px;"><img src="../../../assets/images/add-friend.png" alt=""></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="requests">
                <div class="request">
                    <div class="friends-list" style="width: 100%;">
                        <p>Zahtevi za prijateljstvo</p>
                        <div id="list2">
                            <div>
                                <div class="friend-status">
                                    <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                                    <h5>Ime Prezime</h5>
                                    <div class="buttons">
                                        <button><img src="../../../assets/images/check.png" alt=""></button>
                                        <button id="red"><img src="../../../assets/images/cross.png" alt=""></button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="friend-status">
                                    <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                                    <h5>Ime Prezime</h5>
                                    <div class="buttons">
                                        <button><img src="../../../assets/images/check.png" alt=""></button>
                                        <button id="red"><img src="../../../assets/images/cross.png" alt=""></button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="friend-status">
                                    <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                                    <h5>Ime Prezime</h5>
                                    <div class="buttons">
                                        <button><img src="../../../assets/images/check.png" alt=""></button>
                                        <button id="red"><img src="../../../assets/images/cross.png" alt=""></button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="friend-status">
                                    <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                                    <h5>Ime Prezime</h5>
                                    <div class="buttons">
                                        <button><img src="../../../assets/images/check.png" alt=""></button>
                                        <button id="red"><img src="../../../assets/images/cross.png" alt=""></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>