.main-container {
    padding-top: 60px;
    width: 100%;
    height: 100%;
    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}

.flex-container-row {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px; 
}

.flex-container-column {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

.flex-container-column div {
    height: fit-content;
}

.friends-list {
    width: 30%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), -20px -20px 60px rgba(255, 255, 255, 0.7);
}

.search-and-requests {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.search { 
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: row;
}

.search div {
    height: fit-content;
    background-color: #ffffff;
    border-radius: 15px;
    //box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), -20px -20px 60px rgba(255, 255, 255, 0.7);
}

.search-bar {
    width: fit-content;
    margin: 0 1% 1% 1%;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), -20px -20px 60px rgba(255, 255, 255, 0.7);
}

.search-results {
    margin-left: 3%;
    width: 60%;
}

.requests {
    width: 100%; 
    margin-top: 20px; 
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), -20px -20px 60px rgba(255, 255, 255, 0.7);
}

.input-group {
    display: flex;
    align-items: center;
}
  
.input {
min-height: 50px;
max-width: 180px;
padding: 0 1rem;
font-size: 15px;
border: 1px solid #0C3C5C;
border-radius: 6px 0 0 6px;
background-color: transparent;
}

.button--submit {
min-height: 50px;
padding: .5em 1em;
border: none;
border-radius: 0 6px 6px 0;
background-color: #0C3C5C;
color: #fff;
font-size: 15px;
cursor: pointer;
transition: background-color .3s ease-in-out;
}

.button--submit:hover {
background-color: #AD1026;
}

.input:focus, .input:focus-visible {
border-color: #3898EC;
outline: none;
}

.friend-status-img img {
    height: 50px;
    width: 50px;
}

.friend-status h5 {
    margin: 0;
    padding-left: 1%;
}

.friend-status {
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5%;
}

.friend-status button {
    margin-left: auto;
    padding: 10px 10px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #134275;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.friend-status button:hover {
    background-color: #aa1818;
  }

.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    margin-left: 5px; 
    margin-left: auto;
}

.status-indicator.online {
    background-color: green; 
}

.status-indicator.offline {
    background-color: red; 
}

#list2 {
    width: 100%;
    box-shadow: none;
}

  @media (max-width: 800px) {

    .flex-container-row {
      justify-content: space-around;
      padding-top: 0;
    }

    .search-and-requests {
        width: 100%;
    }

    .search { 
        gap: 10px;
        width: 100%;
        justify-content: center;
    }

    .search-bar {
        margin-top: 5%;
        width: 90%;
    }

    .friends-list {
        width: 90%;
    }

    .search-results {
        width: 90%;
    }

    .input-group {
        flex-wrap: nowrap;
    }

    .input {
        max-width: none;
        width: 60%;
        font-size: 15px;
        border: 1px solid #0C3C5C;
        border-radius: 6px 0 0 6px;
        background-color: transparent;
        padding: 1%;
    }
      
    .button--submit {
        width: 50%;
        border: none;
        border-radius: 0 6px 6px 0;
        padding: 1%;
        background-color: #0C3C5C;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        transition: background-color .3s ease-in-out;
    }
      
}
  