<app-navbar></app-navbar>
<div class="main-container">
    <div class="flex-container-row">
        <div class="friends-list">
            <div>
                <div class="friend-status">
                    <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                    <h5>Ime Prezime</h5>
                    <div class="status-indicator online"></div>
                </div>
            </div>
            <div>
                <div class="friend-status">
                    <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                    <h5>Ime Prezime</h5>
                    <div class="status-indicator offline"></div>
                </div>
            </div>
        </div>
        <div class="search-and-requests">
            <div class="search">
                <div class="search-bar">
                    <div class="input-group">
                        <input class="input" placeholder="korisničko ime" autocomplete="off">
                        <input class="button--submit" value="Pretraži" type="submit">
                    </div>
                </div>
                <div class="search-results">
                    <div class="friends-list" id="list2">
                        <div>
                            <div class="friend-status">
                                <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                                <h5>Ime Prezime</h5>
                                <button>POŠALJI ZAHTEV</button>
                            </div>
                        </div>
                        <div>
                            <div class="friend-status">
                                <div class="friend-status-img"><img src="../../../assets/images/profile.png" alt=""></div>
                                <h5>Ime Prezime</h5>
                                <button>POŠALJI ZAHTEV</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="requests">
                <div class="request">
                    requests
                </div>
            </div>
        </div>
    </div>
</div>