.main-container {
    padding-top: 60px;
    width: 100%;
    height: 100%;
    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}

.flex-container-row {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 20px; 
}

.flex-container-column {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}

.flex-container-column div {
    height: fit-content;
}

.friends-list {
    width: 30%;
    height: fit-content;
    padding: 1%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), -20px -20px 60px rgba(255, 255, 255, 0.7);
}

#scrollable-div {
    height: 400px;
    overflow: auto;
}

#scrollable-div div {
    margin-right: 2px;
}

#scrollable-div div.online:hover{
    background-color: #b5b7b9;
    border-radius: 15px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
background: #ffffff00; 
}

::-webkit-scrollbar-corner {
border-radius: 5px;
}

::-webkit-scrollbar-thumb {
background: #9b9a9a; 
border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
background: #717171; 
border-radius: 30px;
}

#p-div {
    height: fit-content;
    position: sticky;
}
  
.search-and-requests {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.search-area {
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    padding-top: 1.5%;
}

.search { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.search div {
    height: fit-content;
    background-color: #ffffff;
    border-radius: 15px;
    //box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), -20px -20px 60px rgba(255, 255, 255, 0.7);
}

.search-bar {
    width: 100%;
    margin: 0 1% 1% 1%;
}

.search-bar div {
    width: 100%;
}

.search-results {
    width: 100%;
}

#results {
    padding: 0;
}

.requests {
    width: 100%; 
    margin-top: 20px; 
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2);
}

.input-group {
    display: flex;
    justify-content: center;
}

.input-group div{
    align-self: center;
}

.input {
    min-height: 50px;
    width: 60%;
    padding: 0 1rem;
    font-size: 15px;
    border: 1px solid #0C3C5C;
    border-radius: 25px 0 0 25px;
    background-color: transparent;
}

.button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 25px 25px 0;
    background-color: #0C3C5C;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

p {
    background: linear-gradient(to right, #448bbb, #1d4e70);
    color: white;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 5px;
}

.button--submit:hover {
background-color: #AD1026;
}

.input:focus, .input:focus-visible {
border-color: #3898EC;
outline: none;
}

.friend-status-img img {
    height: 50px;
    width: 50px;
    margin-right: 5px;
}

.friend-status h5 {
    margin: 0;
    padding-left: 1%;
}

.friend-status {
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.friend-status button {
    margin-left: auto;
    padding: 10px 10px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 50%;
    background-color: #134275;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.friend-status button:hover {
    background-color: #aa1818;
}

.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    margin-left: 5px; 
    margin-left: auto;
    margin-right: 5px;
}

.status-indicator.online {
    background-color: green; 
}

.status-indicator.offline {
    background-color: red; 
}

.friend-status.offline {
    opacity: 0.6; 
    filter: grayscale(50%); 
    cursor: default;
  }

button img {
    width: 25px;
    height: 25px;
}

#list2 {
    width: 100%;
    max-height: 200px;
    box-shadow: none;
    padding-top: 1.5%;
    overflow: auto;
}

#list1 {
    width: 100%;
    max-height: 200px;
    box-shadow: none;
    overflow: auto;
}

.buttons {
    margin-left: auto;
    gap: 1%;
}

.buttons button {
    margin-right: 5px;
}

#red {
    background-color: #aa1818;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#red img {
    padding: 5px;
}

#red:hover {
    background-color: #134275;
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Poluprozirna pozadina */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 60%;
    text-align: center;
}

.clickable-div {
    cursor: pointer;
    padding: 10px;
    background-color: #2f78a9;
    color: white;
    text-align: center;
    border-radius: 5px;
    width: fit-content;
}

#close-popup {
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 10px;
}

#close-popup img {
    height: 20px;
    width: 20px;
}

.popup-request {
    margin-top: 5%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}

.card-header {
    margin-bottom: auto;
    margin-top: 2%;
}

.popup-opponent {
    border-radius: 15px;
    border: 2px solid  #1d4e70;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popup-opponent:hover {
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), -20px -20px 60px rgba(255, 255, 255, 0.7);
}

.profile-picture {
    height: 80%;
}

.profile-picture img {
    width: 50%;
}

.popup-subject {
    border-radius: 15px;
    border: 2px solid  #1d4e70;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popup-subject:hover {
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), -20px -20px 60px rgba(255, 255, 255, 0.7);
}

.popup-class {
    border-radius: 15px;
    border: 2px solid  #1d4e70;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popup-class:hover {
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2), -20px -20px 60px rgba(255, 255, 255, 0.7);
}

#popup-send-button {
    padding: 10px 10px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    border: 2px solid #aa1818;
    background-color: transparent;
    color: #aa1818;
    cursor: pointer;
}

#popup-send-button:hover {
    border: none;
    background: linear-gradient(to right, #be5d5d, #aa1818);
    color: white;
}

.subjects {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: baseline;
    height: 80%;
}

.subject {
    border-radius: 15px;
    padding: 2%;
    margin: 2%;
}

.subject input[type="radio"]:checked {
    background-color: #0C3C5C;
}

.subject img {
    width: 50px;
    height: 50px;
}

  @media (max-width: 800px) {

    .main-container {
        height: fit-content;
        padding-bottom: 20px;
    }

    .flex-container-row {
      justify-content: space-around;
      padding-top: 0;
    }

    .search-and-requests {
        width: 100%;
        margin-top: 10px;
    }

    .search-area {
        width: 90%;
        align-self: center;
        box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2);
    }

    .search { 
        gap: 10px;
        width: 100%;
        justify-content: center;
    }

    .search-bar {
        margin-top: 5%;
        width: 90%;
    }

    .requests {
        width: 90%; 
        align-self: center;
    }

    .friends-list {
        width: 90%;
        padding: 1%;
        margin-top: 10px;
        box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2);
    }

    .search-results {
        width: 90%;
    }

    .input-group {
        align-self: center;
    }

    .input {
        max-width: none;
        width: 60%;
        font-size: 15px;
        border: 1px solid #0C3C5C;
        border-radius: 25px 0 0 25px;
        background-color: transparent;
    }
      
    .button--submit {
        width: 20%;
        border: none;
        border-radius: 0 25px 25px 0;
        padding: 1%;
        background-color: #0C3C5C;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        transition: background-color .3s ease-in-out;
    }

    .popup-request {
        flex-direction: column;
        gap: 10vw;
    }
      
}

  