<div class="register-container">
    <div class="register-form">
      <img id="logo" src="../../../assets/images/logoFinal.png" alt="K" />
      <form>
        <div class="form-group">
          <input type="email" id="email" placeholder="Unesite email" />
        </div>
        <div class="form-group">
          <input type="password" id="password" placeholder="Unesite šifru" />
        </div>
        <div class="form-group">
          <input type="password" id="confirmPassword" placeholder="Potvrdite šifru" />
        </div>
        <div class="popup"></div>
        <button type="submit">Registruj se</button>
        <span class="link">Već imate nalog? <span id="link" (click)="navigateToLogin()">Prijavite se</span></span>
      </form>
    </div>
  </div>
  