<div class="register-container">
    <div class="register-form">
      <img id="logo" src="../../../assets/images/logoFinal.png" alt="K" />
      <form>
        <div class="form-group">
          <input type="email" id="email" placeholder="Unesi email" />
        </div>
        <div class="form-group">
          <input [type]="passwordFieldType" id="password" placeholder="Unesi šifru" />
          <span class="toggle-password" (click)="togglePasswordVisibility()">
            <i [class]="passwordFieldType === 'password' ? 'fa fa-eye-slash' : 'fa fa-eye'" style="min-height: 10px; min-width: 10px;"></i>
          </span>
        </div>
        <div class="form-group">
          <input [type]="passwordFieldType" id="confirmPassword" placeholder="Potvrdi šifru" />
          <span class="toggle-password" (click)="togglePasswordVisibility()">
            <i [class]="passwordFieldType === 'password' ? 'fa fa-eye-slash' : 'fa fa-eye'" style="min-height: 10px; min-width: 10px;"></i>
          </span>
        </div>
        <div class="popup"></div>
        <button type="submit">Registruj se</button>
        <span class="link">Već imate nalog? <span id="link" (click)="navigateToLogin()">Prijavite se</span></span>
      </form>
    </div>
  </div>
  